[submodule "frontend"]
	path = frontend
	url = https://github.com/shubkb07/DevConnect.git
	branch = frontend
[submodule "backend"]
	path = backend
	url = https://github.com/shubkb07/DevConnect.git
	branch = backend
